%tr
  %td= playerstats.SoldierName
  %td= playerstats.Score
  %td= playerstats.spm
  %td= playerstats.Kills
  %td= number_with_precision playerstats.kdr, precision: 2
  %td= playerstats.headshot_percent
  %td= playerstats.Rounds
