%tr
  %td
    %span{class: playerstats.headshot_range.gsub(/\+/, "")}
      = playerstats.SoldierName
  %td
    = image_tag "flags/#{playerstats.CountryCode.upcase}.gif", class: "country_flag"
    .country_code
      = playerstats.CountryCode.upcase
  %td= playerstats.Score
  %td= playerstats.spm
  %td= playerstats.Kills
  %td= number_with_precision playerstats.kdr, precision: 2
  %td= number_with_precision(playerstats.headshot_percent, precision: 2) + "%"
  %td= playerstats.Rounds
