%tr
  %td= playerstats.SoldierName
  %td= playerstats.Score
  %td= playerstats.Kills
  %td= playerstats.Deaths
  %td= playerstats.Headshots
  %td= playerstats.Killstreak
  %td= playerstats.Deathstreak
  %td= playerstats.Playtime
