%tr
  %td= mapstats.full_map_title
  %td= mapstats.readable_map_name
  %td= mapstats.readable_game_mode
  %td= mapstats.AvgPlayers
  %td= mapstats.MinPlayers
  %td= mapstats.MaxPlayers
  %td= mapstats.PlayersJoinedServer
  %td= mapstats.PlayersLeftServer
